body{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 40px;
    margin-left: 40px;
    background: white;
    text-align: left;
}

.container {
  width: 90%; /* or a fixed pixel width like 900px */
  margin-left: auto;
  margin-right: auto;
  display: block;
}
